/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

a {
    text-decoration: none;
    color: #000;
}

header {
    width: 80%;
    height: 35vh;
    background-color: cadetblue;
    margin-left: 10%;
    text-align: center;
}

#regHeader {
    width: 80%;
    height: 11vh;
    background-color: cadetblue;
    margin-left: 10%;
    text-align: center;
}

#logHeader {
    width: 80%;
    height: 11vh;
    background-color: cadetblue;
    margin-left: 10%;
    text-align: center;
}

h1 {
    text-align: right;
    font-size: 5vw;
    color: black;
    font-weight: bold;
}

main {
    width: 80%;
    height: 55vh;
    background-color: cornflowerblue;
    margin-left: 10%;
}

#regMain {
    width: 80%;
    height: 120vh;
    background-color: #7C6D70;
    margin-left: 10%;
}

#logMain {
    width: 80%;
    height: 120vh;
    background-color: #7C6D70;
    margin-left: 10%;
}

#loginMain {
    width: 80%;
    height: 59vh;
    background-color: #7C6D70;
    margin-left: 10%;
    padding-top: 2%;
}

#editMain {
    width: 80%;
    height: 70vh;
    background-color: #7C6D70;
    margin-left: 10%;
}

#regTable {
    font-weight: bold;
    margin-top: 7%;
    text-align: center;
    width: 50%;
    height: 20vh;
    background-color: #f2a22b;
    border-radius: 3%;
    border: 2px solid black;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.8), 0 9px 30px 0 rgba(0, 0, 0, 0.56);
    font-size: 1.5vw;
    position: absolute;
    top: 45%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
#regTable td,th,tr {
    text-align: center;
}

#regButton {
    width: 21%;
    height: 3.5vh;
}

footer {
    width: 80%;
    height: 10vh;
    background-color: cadetblue;
    margin-left: 10%;
}

#loginTable {
    border: 2px solid black;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.8), 0 9px 30px 0 rgba(0, 0, 0, 0.56);
    text-align: center;
    width: 20%;
    height: 20vh;
    background-color: #f2a22b;
    border-radius: 6%;
    font-weight: bold;
    font-size: 1.5vw;
    position: absolute;
    margin-top: 7%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

#loginTable td,th,tr {
     text-align: center;
}

#mainHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    height: 10vh;
    background-color: white;
    margin-left: 10%;
    text-align: center;
}

#mainInMain {
    width: 80%;
    height: 79vh;
    background: #7C6D70;
    /*background-color: #2dcecb;*/
    margin-left: 10%;
}

#mainName {
    text-align: left;
    font-size: 4vw;
    color: black;
    font-weight: bold;
    float: left;
}

#mainLinks {
    text-align: right;
    font-size: 1.5vw;
    color: black;
    font-weight: bold;
}

#mainCover {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#addTravel {
    background-color: #ffae1c;
    border-radius: 15px;
    font-size: 2vw;
}


#mainFooter {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    height: 30vh;
    background-color: white;
    margin-left: 10%;
    text-align: center;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
    border-right:1px solid #bbb;
}

li:last-child {
    border-right: none;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #f2a22b;

}
#nav{
    width: 70%;
    float: right;
}

.navHeader {
    width: 80%;
    height: 6.8vh;
    background-color: #60C9DF;
    margin-left: 10%;
    text-align: center;
}

.smallHeader {
    text-align: left;
    font-size: 3vw;
    color: black;
    font-weight: bold;
    float: left;
}

#comment-section {
    width: 100%;
    height: 20%;
    margin: auto;
    text-align: center;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px;
    background-color: #f2a22b;
    padding-top:10px;
    padding-left:10px ;
}

.card img {
    float: left;
}

.card p, .card h4 {
    text-align: center;
    font-size: 2.21em;
}

img {
    border-radius: 5px 5px 0 0;
}

#noCars {
    height: 60vh;
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

#showTable {
    font-size: 1.5vw;
    border-collapse: collapse;
    width: 100%;
}

#showTable th, td {
    text-align: left;
    padding: 8px;
}

#showTable th {
    text-align: center;
    background-color: #f2a22b;
    color: white;
}

#editTable {
    text-align: center;
    width: 50%;
    height: 20vh;
    background-color: #f2a22b;
    /*border-radius: 3%;*/
    margin: auto;
    font-size: 1.5vw;
    position: absolute;
    top: 68.5%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    border: 2px solid black;
    border-radius: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.8), 0 9px 30px 0 rgba(0, 0, 0, 0.56);
    font-weight: bold;

}
#editTable td,th,tr {
    text-align: center;
}

#carTable {
    /*border: 2px solid black;*/
    /*border-radius: 15px;*/
    /*box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.8), 0 9px 30px 0 rgba(0, 0, 0, 0.56);*/
    border: 2px solid black;
    border-radius: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.8), 0 9px 30px 0 rgba(0, 0, 0, 0.56);

    font-weight: bold;
    text-align: center;
    width: 20%;
    height: 20vh;
    background-color: #f2a22b;
    /*border-radius: 3%;*/
    margin: auto;
    font-size: 1.5vw;
    position: absolute;
    top:55%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

#carTable td,th,tr {
    text-align: center;
}

#travelTable {
    border: 2px solid black;
    border-radius: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.8), 0 9px 30px 0 rgba(0, 0, 0, 0.56);
    font-weight: bold;
    text-align: center;
    width: 20%;
    height: 20vh;
    background-color: #f2a22b;
    border-radius: 3%;
    margin: auto;
    font-size: 1.5vw;
    position: absolute;
    top: 63%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

#travelTable td,th,tr {
    text-align: center;
}

#carShow {
    background: #7C6D70;
    font-size: 2.5vw;
    /*margin-left: -12.5%;*/
    margin: auto;
    width: 85%;
    /*border: 3px solid black;*/
    padding: 10px;
    border-collapse: separate;
    border-spacing: 50px 0;
}

#carShow tr, td,th {
    text-align: center;
    padding: 8px;
}

#carShow th {
    color: black;
    font-weight: bold;
    font-size: 3vw;
}

#carShow td {
    padding: 10px 0;
}

#infoButton {
    border-radius: 40%;
    border: 2px solid black;
    display: inline-block;
    padding: 5px;
    cursor: pointer;
    text-decoration: none;
    outline: none;
    font-weight: bold;
    background-color: #ffba1c;
    box-shadow: 0 9px #999;
    width: 34%;
    font-size: 0.5em;
    vertical-align: middle;
    text-align: center;
}

#infoButton:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

#infoButton:active {
    background-color: #f2a22b;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

#addCarLink {
    text-decoration: underline;
}

#addCarLink:hover {
    color: blue;
}

#viewMain {
    width: 80%;
    height: 70vh;
    background-color: #7c6d70;
    margin-left: 10%;
}

#book {
    border-radius: 20%;
    border: 3px solid black;

    display: inline-block;
    padding: 1px 15px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    font-weight: bold;
    background-color: dodgerblue;
    box-shadow: 0 9px #999;
}

#book:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

#book:active {
    background-color: #f2a22b;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

#no_book {
    opacity: 0.5;
    cursor: not-allowed;

    border-radius: 20%;

    display: inline-block;
    padding: 1px 15px;
    text-align: center;
    text-decoration: none;
    outline: none;
    font-weight: bold;
    background-color: dodgerblue;
    box-shadow: 0 9px #999;
}

#commentShow {
    font-size: 1vw;
    /*margin-left: -12.5%;*/
    margin: auto;
    width: 85%;
    /*border: 3px solid black;*/
    padding: 10px;
    border-collapse: separate;
    border-spacing: 50px 0;
}

#commentShow tr, td,th {
    text-align: center;
    padding: 8px;
}

#commentShow th {
    color: black;
    font-weight: bold;
    font-size: 2vw;
}

#commentShow td {
    padding: 10px 0;
}

#commentScroll {
    height: 25vh;
    overflow-y : scroll;
}

.error{
    background-color: #EF4836;
    color: white;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    height: 55px;
    text-align: center;
    border: 5px solid black;
    border-radius: 15px;
    padding-top: 8px;
    font-size: 3em;
}

.error a {
    color: white;
}

#error_image{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    height: 75vh;
    border: 5px solid black;
    border-radius: 15px;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    text-align: center;
}
::-moz-placeholder { /* Firefox 19+ */
    text-align: center;
}
:-ms-input-placeholder { /* IE 10+ */
    text-align: center;
}
:-moz-placeholder { /* Firefox 18- */
    text-align: center;
}

#travelScroll {
    height: 70vh;
    overflow-y : scroll;
}

#historyScroll {
    height: 47vh;
    overflow-y : scroll;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid black;
    margin: 1em 0;
    padding: 0;
}

#carsScroll {
    height: 45vh;
    overflow-y : scroll;
}

.search-panel {
    height: 186px;
    background: #f0f0f0;
    border-bottom: 1px solid #dcdcdc
}

.search-panel .slogan {
    color: #0aadcd;
    font-size: 20px;
    padding-top: 13px;
    margin-bottom: 12px
}

.search-panel .slogan strong {
    color: #07829a
}

.search-panel .location {
    background: #0aadcd;
    border-radius: 5px;
    box-sizing: border-box;
    display: inline-block;
    width: 683px;
    padding: 16px 20px;
    height: 113px;
    position: relative;
    z-index: 9999;
}

.search-panel .location button.btn-momchi, .search-panel .location input.btn-momchi, .search-panel .location a.btn-momchi {
    padding: 0 16px !important
}


.search-panel h1 {
    margin: 0 0 10px;
    color: #fff;
    font-size: 32px
}

.search-panel input[type="text"] {
    border: medium none;
    border-radius: 5px;
    font-size: 16px;
    height: 36px;
    margin-right: 5px;
    padding: 0 10px 0 34px;
    width: 250px
}

.search-panel input[type="text"].error {
    border: 1px solid red
}

.search-panel button.btn-momchi {
    height: 37px
}

.search-panel .from {
    background: #fff url("https://prevozvalnik.bg/img/svg/ico/from.svg") no-repeat scroll 7px 5px
}

.search-panel .to {
    background: #fff url("https://prevozvalnik.bg/img/svg/ico/to.svg") no-repeat scroll 7px 5px;
    padding-left: 36px
}

.search-panel #from-location, .search-panel #to-location {
    float: left;
    position: relative;
    margin-right: 3px
}

.search-panel .container {
    position: relative
}

.search-panel .container .question {
    position: absolute;
    right: 11%;
    top: 15%;
}

.search-panel .container .question p {
    line-height: 1.1em;
    color: darkslategrey;
    font-size: 15px;
    max-width: 260px;
    display: inline-block;
}

.search-panel div.location div.bids {
    display: none;
    position: absolute;
    z-index: 10000;
    top: 36px;
    left: 0;
    width: 250px;
    background: #FFF;
    border: 0px solid #CCC;
    border-top: none;
    border-radius: 5px;
    overflow: hidden;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.7)
}

.search-panel div.searchPanel div.location div.bids a {
    display: block;
    border-top: 1px solid #CCC;
    line-height: 32px;
    color: #333;
    font-size: 14px;
    text-decoration: none;
    padding-left: 35px;
    padding-right: 10px;
    cursor: default
}

.search-panel div.searchPanel div.location div.from div.bids a {
    background: url("/img/svg/ico/pos.svg") no-repeat
}

.search-panel div.searchPanel div.location div.from div.bids a:hover {
    font-weight: bold;
    background: url("/img/svg/ico/iStart.svg") no-repeat;
    background-color: #F6F6F6;
    font-size: 16px
}

.search-panel div.searchPanel div.location div.to div.bids a {
    background: url("/img/svg/ico/iEnd.svg") no-repeat
}

.ui-autocomplete {
    z-index: 10000;
    width: 250px;
    background: #FFF;
    border: 0px solid #CCC;
    border-top: none;
    border-radius: 5px;
    overflow: hidden;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.7)
}

.ui-autocomplete .ui-menu-item {
    display: block;
    border-top: 1px solid #CCC;
    line-height: 32px;
    color: #333;
    font-size: 14px;
    text-decoration: none;
    padding-left: 35px !important;
    padding-right: 10px;
    cursor: default;
    float: none;
    background: url("/img/svg/ico/pos.svg") 10px 10px no-repeat
}

.ui-autocomplete .ui-menu-item:hover {
    font-weight: bold;
    background-color: #F6F6F6;
    margin: 0px !important;
    border: none !important;
    border-top: 1px solid #CCC !important
}

#from-location .ui-menu-item:hover {
    background: url("/img/svg/ico/iStart.svg") 10px 10px no-repeat
}

#to-location .ui-menu-item:hover {
    background: url("/img/svg/ico/iEnd.svg") 10px 10px no-repeat
}

.item1stPage {
    position: relative;
    height: 152px;
    border: 1px solid #AAA;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 2px 2px 0 #AAA;
    overflow: hidden;
    margin-bottom: 12px;
    min-width: 480px;
    transition: .2s background;
    float: left
}

.item1stPage:hover {
    background: #ecf1f3
}

.item1stPage li.user {
    width: 168px;
    margin-right: 4px
}

.item1stPage li.content {
    width: 280px;
    line-height: normal
}

.item1stPage li.user ul {
    width: 168px
}

.item1stPage li.user ul li.photo {
    width: 60px
}

.item1stPage li.user ul li.photo img {
    width: 52px
}

.item1stPage li.user ul li.name {
    width: 108px;
    line-height: normal;
    color: #888;
    line-height: 16px
}

.item1stPage li.user ul li.name strong {
    display: block;
    margin-bottom: 3px;
    color: #333;
    font-size: 13px
}

.item1stPage li.user ul li.info {
    width: 168px;
    line-height: normal;
    margin-top: 5px
}

.item1stPage li.user ul li.info strong {
    color: #555
}

.item1stPage li.user ul li.info div.raiting {
    color: #888
}

.item1stPage li.user div.raiting img {
    width: 14px;
    vertical-align: -1px;
    margin-right: 5px
}

.item1stPage li.user div.raiting strong {
    display: inline-block !important
}

.item1stPage li.user ul li.info div.social {
    color: #555;
    margin-top: 6px
}

.item1stPage li.user ul li.info div.social img {
    width: 16px;
    vertical-align: -4px;
    margin-right: 5px
}

.item1stPage li.user ul li.info div.icons {
    color: #555;
    margin-top: 9px;
    line-height: 0;
    position: relative
}

.item1stPage li.user ul li.info div.icons i {
    display: inline-block;
    width: 28px;
    height: 28px;
    margin-right: 5px;
    background: url(/img/svg/ico/userIcons.svg) 0 0 no-repeat
}

.item1stPage li.user ul li.info div.icons i div {
    line-height: 14px;
    position: absolute;
    top: 38px;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    margin-left: 14px;
    z-index: 103;
    padding: 5px 10px;
    background: #09adcd;
    color: #FFF;
    font-size: 12px;
    font-style: normal;
    border-radius: 5px;
    white-space: nowrap
}

.item1stPage li.user ul li.info div.icons i div img {
    position: absolute;
    z-index: 20;
    top: -8px;
    left: 50%;
    margin-left: -10px
}

.infoRed {
    background: #F00 !important
}

.infoGreen {
    background: #46984c !important
}

.item1stPage li.user ul li.info div.icons i.chat {
    background-position: 0 0
}

.item1stPage li.user ul li.info div.icons i.cigarette {
    background-position: -35px 0
}

.item1stPage li.user ul li.info div.icons i.dog {
    background-position: -70px 0
}

.item1stPage li.user ul li.info div.icons i.music {
    background-position: -105px 0
}

.item1stPage li.user ul li.info div.icons i.chatNO {
    background-position: 0 -35px
}

.item1stPage li.user ul li.info div.icons i.cigaretteNO {
    background-position: -35px -35px
}

.item1stPage li.user ul li.info div.icons i.dogNO {
    background-position: -70px -35px
}

.item1stPage li.user ul li.info div.icons i.musicNO {
    background-position: -105px -35px
}

.item1stPage li.content div.offer-date {
    font-size: 20px;
    font-weight: normal;
    color: #333
}

.item1stPage li.content div.offer-date span {
    float: right;
    color: #419647;
    font-size: 25px;
    margin-top: -5px
}

.item1stPage li.content div.offer-date span i {
    font-size: 20px
}

.item1stPage li.content div.destination {
    font-size: 17px;
    margin-top: 3px;
    color: #333
}

.item1stPage li.content div.destination i {
    display: inline-block;
    background: url(/img/svg/ico/destArroww.svg) 0 center no-repeat;
    width: 17px;
    margin: 0 7px
}

.item1stPage li.content div.destination span {
    display: inline-block;
    color: #999
}

.item1stPage li.content div.start {
    color: #666;
    font-size: 14px;
    margin-top: 7px;
    line-height: 18px
}

.item1stPage li.content div.end {
    color: #666;
    font-size: 14px;
    margin-top: 4px;
    line-height: 18px
}

.item1stPage li.content div.car {
    color: #666;
    font-size: 15px;
    font-weight: bold;
    margin-top: 10px;
    line-height: 18px;
    background: url(/img/svg/ico/iCar.svg) 0 0 no-repeat;
    padding-left: 42px
}

.item1stPage li.content div.car img {
    vertical-align: -2px;
    margin-right: 1px
}

.item1stPage button {
    position: absolute;
    z-index: 200;
    width: 100%;
    height: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0
}

ul {
    list-style: none;
    display: inline-block;
    width: 100%;
    margin: 0;
    padding: 0
}

ul, li, input, button {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box
}

li {
    float: left
}

.popular-destinations ul {
    margin-bottom: 20px
}

.popular-destinations ul li {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-top: 8px;
    background: url(/img/svg/ico/iDest.svg) 0 0 no-repeat;
    padding-left: 20px;
    width: 325px;
    float: left
}

.popular-destinations ul li a {
    color: #333;
    font-size: 15px;
    line-height: 18px;
    text-decoration: none
}

.popular-destinations ul li a:hover {
    color: #40abcb
}

.popular-destinations ul li i {
    display: inline-block;
    background: url(/img/svg/ico/destArroww.svg) 0 center no-repeat;
    width: 17px;
    margin: 0 7px
}

.popular-destinations ul li:hover {
    background-position: 0 -40px
}

.partners {
    border-top: 1px solid #DCDCDC;
    padding-top: 15px;
    margin-top: 20px;
    margin-bottom: 25px
}

.partners div.loga {
    text-align: center
}

.partners div.loga a {
    display: inline-block;
    margin: 0px 20px
}

.partners div.pageTitle {
    color: #5B5B5B;
    font-size: 22px;
    margin-bottom: 20px
}

.ad {
    line-height: 0;
    margin-top: 20px
}

.ad div.yt, .ad div.banner {
    float: left
}

.ad div.yt {
    text-align: right;
    width: 410px
}

@media (max-width: 992px) {
    .ad {
        display: none
    }

    .popular-destinations {
        display: none
    }

    .search-panel {
        height: auto
    }

    div.searchPanel div.wrapper {
        width: 100% !important
    }

    .location #from-location, .location #to-location {
        width: 44%;
        margin-right: 2%
    }

    .search-panel input[type="text"] {
        width: 100%
    }

    .results2columns {
        width: 100% !important
    }

    div.sorting span.distantion {
        float: none
    }

    .search-panel .location {
        width: 100%;
        height: auto;
        border-radius: 0px;
        padding: 10px
    }

    .item1stPage {
        width: 100% !important;
        min-width: none !important;
        box-shadow: none !important;
        margin-right: 0px !important
    }

    .item1stPage li.content div.offer-date > span {
        display: block;
        position: absolute;
        right: 5px;
        top: 10px;
        font-size: 15pt !important
    }

    .item1stPage li.content div.offer-date span i {
        font-size: 13pt !important
    }

    .item1stPage li.content div.offer-date .note {
        display: none !important
    }

    .item1stPage li.content div.offer-date, .item1stPage li.content div.destination strong {
        font-weight: normal;
        font-size: 12pt;
        line-height: 17pt
    }

    .item1stPage li.content div.destination strong {
        font-weight: bold
    }

    .location button.btn-momchi {
        width: 37px;
        overflow: hidden;
        padding: 3px 5px
    }

    .locationOptions li {
        float: none;
        margin-left: 20px !important
    }

    .slogan {
        text-align: center
    }

    .location #from-location, .location #to-location {
        float: none;
        margin-bottom: 7px;
        width: 100%
    }

    .location input[type="text"] {
        width: 100% !important
    }

    .search-panel button.btn-momchi {
        width: 100%;
        overflow: visible;
        padding: 3px 5px
    }
}

.star {
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
}

#mainDiv {
    border: 2px solid black;
    border-radius: 15px;
    width: 26%;
    text-align: center;
    display: inline-block;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.8), 0 9px 30px 0 rgba(0, 0, 0, 0.56);
    font-weight: bold;
    font-size: 1.5em;
    padding: 10px;
    margin-left: 2.3%;
    margin-bottom: 2.3%;
    margin-right: 2.3% ;
    background:  #E8D3A8;
}

#mainSpan {
    font-size: 30px;
    text-shadow: 1px 1px lightgray;
    text-align: center;
    font-weight: bold;
    border: 2px solid #ffba1c;
    background: #E8D3A8;
    /*margin: auto;*/
    border-radius: 15px;
    margin-left: 33%;
    margin-bottom: 1%;
    padding: 4px;
    display: table;
}
