/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

a {
    text-decoration: none;
    color: #000;
}

header {
    width: 80%;
    height: 35vh;
    background-color: cadetblue;
    margin-left: 10%;
    text-align: center;
}

#regHeader {
    width: 80%;
    height: 11vh;
    background-color: cadetblue;
    margin-left: 10%;
    text-align: center;
}

#logHeader {
    width: 80%;
    height: 11vh;
    background-color: cadetblue;
    margin-left: 10%;
    text-align: center;
}

h1 {
    text-align: right;
    font-size: 5vw;
    color: black;
    font-weight: bold;
}

main {
    width: 80%;
    height: 55vh;
    background-color: cornflowerblue;
    margin-left: 10%;
}

#regMain {
    width: 80%;
    height: 80vh;
    background-color: #2dcecb;
    margin-left: 10%;
}

#logMain {
    width: 80%;
    height: 120vh;
    background-color: #2dcecb;
    margin-left: 10%;
}

#loginMain {
    width: 80%;
    height: 59vh;
    background-color: #2dcecb;
    margin-left: 10%;
}

#editMain {
    width: 80%;
    height: 70vh;
    background-color: #2dcecb;
    margin-left: 10%;
}

#regTable {
    text-align: center;
    width: 50%;
    height: 20vh;
    background-color: #f2a22b;
    border-radius: 3%;
    margin: auto;
    font-size: 1.5vw;
    position: absolute;
    top: 45%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
#regTable td,th,tr {
    text-align: center;
}

#regButton {
    width: 21%;
    height: 3.5vh;
}

footer {
    width: 80%;
    height: 10vh;
    background-color: cadetblue;
    margin-left: 10%;
}

#loginTable {
    text-align: center;
    width: 20%;
    height: 20vh;
    background-color: #f2a22b;
    border-radius: 3%;
    margin: auto;
    font-size: 1.5vw;
    position: absolute;
    top: 40%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

#loginTable td,th,tr {
     text-align: center;
}

#mainHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    height: 10vh;
    background-color: white;
    margin-left: 10%;
    text-align: center;
}

#mainInMain {
    width: 80%;
    height: 79vh;
    background-color: #2dcecb;
    margin-left: 10%;
}

#mainName {
    text-align: left;
    font-size: 4vw;
    color: black;
    font-weight: bold;
    float: left;
}

#mainLinks {
    text-align: right;
    font-size: 1.5vw;
    color: black;
    font-weight: bold;
}

#mainCover {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#addTravel {
    background-color: orange;
    border-radius: 15px;
    font-size: 2vw;
}


#mainFooter {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    height: 30vh;
    background-color: white;
    margin-left: 10%;
    text-align: center;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
    border-right:1px solid #bbb;
}

li:last-child {
    border-right: none;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #f2a22b;

}
#nav{
    width: 65%;
    float: right;
}

.navHeader {
    width: 80%;
    height: 6.8vh;
    background-color: #2dcecb;
    margin-left: 10%;
    text-align: center;
}

.smallHeader {
    text-align: left;
    font-size: 3vw;
    color: black;
    font-weight: bold;
    float: left;
}

#comment-section {
    width: 100%;
    height: 20%;
    margin: auto;
    text-align: center;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px;
    background-color: #f2a22b;
}

.card img {
    float: left;
}

.card p, .card h4 {
    text-align: center;
    font-size: 2.21em;
}

img {
    border-radius: 5px 5px 0 0;
}

#noCars {
    height: 60vh;
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

#showTable {
    font-size: 1.5vw;
    border-collapse: collapse;
    width: 100%;
}

#showTable th, td {
    text-align: left;
    padding: 8px;
}

#showTable th {
    text-align: center;
    background-color: #f2a22b;
    color: white;
}

#editTable {
    text-align: center;
    width: 50%;
    height: 20vh;
    background-color: #f2a22b;
    border-radius: 3%;
    margin: auto;
    font-size: 1.5vw;
    position: absolute;
    top: 57%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
#editTable td,th,tr {
    text-align: center;
}

#carTable {
    text-align: center;
    width: 20%;
    height: 20vh;
    background-color: #f2a22b;
    border-radius: 3%;
    margin: auto;
    font-size: 1.5vw;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

#carTable td,th,tr {
    text-align: center;
}

#travelTable {
    text-align: center;
    width: 20%;
    height: 20vh;
    background-color: #f2a22b;
    border-radius: 3%;
    margin: auto;
    font-size: 1.5vw;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

#travelTable td,th,tr {
    text-align: center;
}

#carShow {
    font-size: 2.5vw;
    /*margin-left: -12.5%;*/
    margin: auto;
    width: 85%;
    /*border: 3px solid black;*/
    padding: 10px;
    border-collapse: separate;
    border-spacing: 50px 0;
}

#carShow tr, td,th {
    text-align: center;
    padding: 8px;
}

#carShow th {
    color: black;
    font-weight: bold;
    font-size: 3vw;
}

#carShow td {
    padding: 10px 0;
}

#infoButton {
    border-radius: 40%;
    border: 2px solid black;

    display: inline-block;
    padding: 5px 35px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    font-weight: bold;
    background-color: dodgerblue;
    box-shadow: 0 9px #999;
}

#infoButton:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

#infoButton:active {
    background-color: #f2a22b;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

#addCarLink {
    text-decoration: underline;
}

#addCarLink:hover {
    color: blue;
}

#viewMain {
    width: 80%;
    height: 70vh;
    background-color: #2dcecb;
    margin-left: 10%;
}

#book {
    border-radius: 20%;
    border: 3px solid black;

    display: inline-block;
    padding: 1px 15px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    font-weight: bold;
    background-color: dodgerblue;
    box-shadow: 0 9px #999;
}

#book:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

#book:active {
    background-color: #f2a22b;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

#no_book {
    opacity: 0.5;
    cursor: not-allowed;

    border-radius: 20%;

    display: inline-block;
    padding: 1px 15px;
    text-align: center;
    text-decoration: none;
    outline: none;
    font-weight: bold;
    background-color: dodgerblue;
    box-shadow: 0 9px #999;
}

#commentShow {
    font-size: 1vw;
    /*margin-left: -12.5%;*/
    margin: auto;
    width: 85%;
    /*border: 3px solid black;*/
    padding: 10px;
    border-collapse: separate;
    border-spacing: 50px 0;
}

#commentShow tr, td,th {
    text-align: center;
    padding: 8px;
}

#commentShow th {
    color: black;
    font-weight: bold;
    font-size: 2vw;
}

#commentShow td {
    padding: 10px 0;
}

#commentScroll {
    height: 25vh;
    overflow-y : scroll;
}

.error{
    background-color: #EF4836;
    color: white;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    height: 55px;
    text-align: center;
    border: 5px solid black;
    border-radius: 15px;
    padding-top: 8px;
    font-size: 3em;
}

.error a {
    color: white;
}

#error_image{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    height: 75vh;
    border: 5px solid black;
    border-radius: 15px;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    text-align: center;
}
::-moz-placeholder { /* Firefox 19+ */
    text-align: center;
}
:-ms-input-placeholder { /* IE 10+ */
    text-align: center;
}
:-moz-placeholder { /* Firefox 18- */
    text-align: center;
}

#travelScroll {
    height: 70vh;
    overflow-y : scroll;
}

#historyScroll {
    height: 53vh;
    overflow-y : scroll;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid black;
    margin: 1em 0;
    padding: 0;
}

#carsScroll {
    height: 45vh;
    overflow-y : scroll;
}