<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>nastop</title>
    <link rel="stylesheet" href="../Style/style.css">
</head>
<body>
<header id="logHeader">
    <div id="nav">
        <ul>
            <li><a class="active" href="main.php">Home</a></li>
            <li><a href="#news">My shared travels</a></li>
            <li><a href="profile.php">Profile edit</a></li>
            <li><a href="addCar.html">Add car</a></li>
            <li style="float:right"><a href="#about">Log out</a></li>
        </ul>
    </div>
</header>

<main id="logMain">
    <form action="../index.php?target=Car&action=add" method="post" enctype="multipart/form-data">
        <table id="loginTable">
            <tr>
                <td>Brand:</td>
                <td><input type="text" name="brand" required></td>
            </tr>
            <tr>
                <td>Color:</td>
                <td><input type="text" name="color" required></td>
            </tr>
            <tr>
                <td>Places:</td>
                <td><input type="number" name="car_places" required></td>
            </tr>
            <tr>
                <td>Image:</td>
                <td><input type="file" name="car_image" required></td>
            </tr>
            <tr>
                <td><input type="submit" name="saveButton" id="submit" value="Save"></td>
            </tr>
        </table>
    </form>
</main>
<footer>

</footer>
</body>
</html>
