<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="style/style.css">
    <title>Page not found</title>
</head>
<body>
<div>
    <h1 class="error">Sorry, page NOT found !</h1>
    <img id ="error_image" src="https://www.lifewire.com/thmb/OO7CD06NAdoIwv71DgUgBiTd4ps=/768x0/filters:no_upscale():max_bytes(150000):strip_icc()/shutterstock_325494917-5a68d8403418c600190a3e1f.jpg">
<h1 class="error"><a href="index.php?target=User&action=logout">Back to Homepage</a></h1>
</div>



</body>
</html>


